<div class="container row">
  <div class="card" *ngIf="thing | async as t; else no;">
    <div class="card-image">
      <img src="https://firebasestorage.googleapis.com/v0/b/usingfirebase-9456e.appspot.com/o/images%2Fthings%2F{{ t.image }}?alt=media">
      <span class="card-title">{{ t.name }} ${{ t.price }}</span>
    </div>
    <div class="card-content">
      <p>{{ t.description }}</p>
    </div>
    <div class="card-action">
      <a [routerLink]="['/Thing/update/'+t.key]">Editar</a>
      <a (click)="removeThing(t.key, t.name)">Eliminar</a>
    </div>
  </div>

  <ng-template #no>
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Loading...</span>
        <p>If the page didn't load then the thing you're trying to accede doesn't exist.</p>
      </div>
    </div>
  </ng-template>

</div>
