<div class="container row">
  <form class="col s12" #formUpdateThing="ngForm" (ngSubmit)="updateThing(t.key, t)" *ngIf="thing | async as t; else no;">
    <div class="input-field col s12">
      <i class="material-icons prefix">person</i>
      <input class="validate" id="name" type="text" name="name" #name="ngModel" [(ngModel)]="t.name">
      <label for="name">Name</label>
    </div>
    <div class="input-field col s12">
      <i class="material-icons prefix">lock</i>
      <textarea class="materialize-textarea validate" id="description" name="description" #description="ngModel" [(ngModel)]="t.description"></textarea>
      <label for="description">Description</label>
    </div>
    <div class="input-field col s12">
      <i class="material-icons prefix">attach_money</i>
      <input class="validate" id="price" type="number" name="price" #price="ngModel" [(ngModel)]="t.price">
      <label for="price">Price</label>
    </div>
    <div class="input-field col s12">
      <a [routerLink]="['/Thing/update/image/'+t.key]">If you want to update the image, click here.</a>
    </div>
    <div class="center-align">
      <button class="btn waves-effect waves-light" type="submit" [disabled]="!formUpdateThing.form.valid">Update Thing
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>

  <ng-template #no>
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Loading...</span>
        <p>If the page didn't load then the thing you're trying to accede doesn't exist.</p>
      </div>
    </div>
  </ng-template>

</div>
