<div class="container row" *ngIf="userService.userSession | async">

  <h1>Add thing</h1>

  <form class="col s12" #formAddThing="ngForm" (ngSubmit)="addThing()">
    <div class="input-field col s12">
      <i class="material-icons prefix">person</i>
      <input class="validate" id="name" type="text" name="name" required #name="ngModel" [(ngModel)]="thing.name">
      <label for="name">Name</label>
    </div>
    <div class="input-field col s12">
      <i class="material-icons prefix">lock</i>
      <textarea class="materialize-textarea validate" id="description" name="description" required #description="ngModel" [(ngModel)]="thing.description"></textarea>
      <label for="description">Description</label>
    </div>
    <div class="input-field col s12">
      <i class="material-icons prefix">attach_money</i>
      <input class="validate" id="price" type="number" name="price" required #price="ngModel" [(ngModel)]="thing.price">
      <label for="price">Price</label>
    </div>
    <div class="file-field input-field col s12">
      <div class="btn">
        <span>Image</span>
        <input id="image" name="image" type="file" required (change)="getFile($event)">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" id="imageText" name="imageText" type="text" required>
      </div>
    </div>
    <div class="center-align">
      <button class="btn waves-effect waves-light" type="submit" [disabled]="!formAddThing.form.valid" *ngIf="uploadPercent == undefined">Add Thing
        <i class="material-icons right">send</i>
      </button>
      <div class="progress" *ngIf="uploadPercent != undefined">
        <div class="determinate" [ngStyle]="{'width': (uploadPercent | async)+'%'}"></div>
      </div>
    </div>
  </form>

</div>

<div class="container row" *ngIf="!userService.userSession | async">
  <div class="row">
    <div class="col s12 m12">
      <div class="card yellow darken-2">
        <div class="card-content white-text">
          <span class="card-title">Hmm!</span>
          <p>You need to log into your account to use add a new thing.</p>
        </div>
      </div>
    </div>
  </div>

</div>
