<ul id="dropdown1" class="dropdown-content">
  <li [routerLinkActive]="['active']" *ngIf="!(userService.userSession | async)"><a [routerLink]="['/LogIn']">Log In</a></li>
  <li [routerLinkActive]="['active']" *ngIf="!(userService.userSession | async)"><a [routerLink]="['/SignIn']">Sign In</a></li>
  <li *ngIf="userService.userSession | async"><a (click)="logOut()">Log Out</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a class="brand-logo" [routerLink]="['/']">UsingFirebase</a>
    <ul class="right hide-on-med-and-down">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/']">Home</a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['Things']">Things</a></li>
      <li><a class="dropdown-trigger"  data-target="dropdown1">Account<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
